.hero {
  position: relative;
  padding: 0 30px;
  margin: auto;
  height: 94.8vh;
}

.hero__image {
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 30px;
  right: 30px;
  /* bottom: 30px; */
  border-radius: 10px;
  margin: auto;
  padding: 100px 0;

}

.hero__title {
  font-family: 'Chango', cursive;
  font-size: 3rem;
}

.hero__content {
  font-family: 'Helvetica', sans-serif;
}

.hero__title,
.hero__content {
  color: #FFF;
  text-align: center;
}

.the-club {
  background: url('https://images.unsplash.com/photo-1507914464562-6ff4ac29692f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80') 50% 50% no-repeat;
}

.the-breakfast {
  background: url('https://images.unsplash.com/photo-1495214783159-3503fd1b572d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') 50% 50% no-repeat;
}

.our-locations {
  background: url('https://images.unsplash.com/photo-1580280126518-3bcec8e0492b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80') 50% 50% no-repeat;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
